.container
  .user-list-container
    %h1 Following
    = link_to 'Back', :back, class: 'btn btn-back'
    %ul.user-list
      - @followings&.each do |user|
        %li.user-item
          = link_to account_path(id: user.id), class: 'user-link' do
            = image_tag(user.profile.avatar.presence || 'default-avatar.png', class: 'user-avatar')
            .user-info
              %span.user-name= user.username
              %span.user-last-login= time_ago_in_words(user.last_sign_in_at) + ' ago'
