= link_to 'Back', :back
.comment-btn-container
  = button_tag "Comment", type: "button", id: "show_comment_form_btn", class: 'comment-btn'

.new_comment{ data: { article_id: @article.id } }
  = form_with model: [@article, @comment], local: true, html: { id: 'comment_form' } do |f|
    = f.text_area :content, placeholder: "Enter a comment..."
    .form-btn-container
      = f.submit "Post Comment", class: 'comment-btn', data: { disable_with: false }


.comments{ data: { article_id: @article.id, default_avatar_url: @default_avatar_url } }
