= link_to 'Back', :back, class: 'custom-link'
.container
    = form_with url: search_index_path, method: :get, local: true do |f|
        .row
            .col
                = f.text_field :query, class: 'form-control search-form'
            .col-auto
                = f.submit "Search", class: 'btn btn-primary search-form searching'

- if @articles.any?
    %ul.article-list
        - @articles.each do |article|
            = render 'common/article', article: article
- elsif params[:query].present?
%p 検索結果がありません
