= form_with(model: @article, local: true) do |f|
  .container
    .article-new-header
      = link_to 'Cancel', root_path, class: 'article-new-cancel btn btn-default'
      .article-new-status New Post
      = f.submit 'Post', class: 'article-new-post'

    .article-new-profile
      - if @profile.avatar.attached?
        = image_tag @profile.avatar, class: 'article-new-avatar'
      - else
        %img.article-new-avatar{ src: "default_avatar_path.jpg" } 
      %span.article-new-username= @profile.user.username

    .article-new-textarea
      = f.text_area :content, class: 'article-new-input', placeholder: "What's on your mind?"

    .article-new-upload
      = f.label :images, 'Album', class: 'article-new-label'
      = f.file_field :images, multiple: true, accept: "image/*", class: 'article-new-file-input'
      .article-new-preview