.profile-header
  = link_to 'Back', :back, class: 'custom-link'
  - unless current_user == @user
    %button.follow-btn{ data: { user_id: @user.id, relationship_status: current_user.following?(@user) ? 'unfollow' : 'follow' } }
      = current_user.following?(@user) ? 'Unfollow' : 'Follow'
.profile-info
  %p= @user.display_name.present? ? @user.display_name : @user.username

= image_tag(@user.profile.avatar.presence || 'default-avatar.png', class: 'profile-avatar')

%input#avatarInput{ type: "file", name: "avatar" }

.profile-stats
  .stat-item
    %div= @user.articles.count
    %p Posts
  .stat-item
    = link_to account_followers_path(@user), class: 'follower-link custom-link' do
      %div#follower-count= @user.follower.count
      %p Followers
  .stat-item
    = link_to account_followings_path(@user), class: 'following-link custom-link' do
      %div= @user.following.count
      %p Following

.posts-timeline
  - @user.articles.order(created_at: :desc).each do |article|
    .article-image-container
      - case article.images.count
      - when 1
        = image_tag article.images.first, class: 'single-image article-image', data: { target: rails_blob_path(article.images.first, only_path: true) }
      - when 2
        = image_tag article.images.first, class: 'main-image article-image', data: { target: rails_blob_path(article.images.first, only_path: true) }
        = image_tag article.images.second, class: 'double-image article-image', data: { target: rails_blob_path(article.images.second, only_path: true) }
      - else
        = image_tag article.images.first, class: 'main-image article-image', data: { target: rails_blob_path(article.images.first, only_path: true) }
        .side-images
          - article.images[1..2].each do |image|
            = image_tag image, class: 'side-image article-image', data: { target: rails_blob_path(image, only_path: true) }


.modal
  .modal-content
    %img{src: "", alt: "モーダル画像", class: "modal-image"}
    %button.close{class: "modal-btn"} &times;
    %button.left-arrow{class: "modal-btn"} &lt;
    %button.right-arrow{class: "modal-btn"} &gt;


